@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
  font-family: 'Bitter', serif;
  background: rgb(223, 130, 70);
  background-image: url("https://img.freepik.com/free-photo/geometric-background-with-copy-space_24972-1806.jpg?w=740&t=st=1686672532~exp=1686673132~hmac=31504d7374de295aef61dccf818125dee7f2029e7af1003a095caf7385360aa0");
  background-size: cover;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: .1px 0;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: inline-block;
  }
}

nav li {
  grid-column: span 1;
  justify-content: center;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgba(120, 255, 120, 1);
  outline: black solid 1px;
  border-radius: 3px;
  padding: 10px;
  text-shadow: 1px 1px black, -1px -1px black;
  background-color: rgba(250, 125, 0, 1);

}

main div {
  width: auto;
  padding: 3em;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

main div:nth-child(n) {
  text-align: center
}

main a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(125, 75, 0, 1) 0%, rgba(255, 125, 0, 1) 25%, rgba(255, 125, 75, 1) 50%, rgba(255, 160, 0, 1) 75%, rgba(255, 255, 230, 1) 100%);
}

main a:hover {
  transition: all .3s linear 0s;
  font-weight: bolder;
  color: white;
  text-shadow: 1px -1px 0.5px black, -1px 1px 0.5px black;
  padding: 10.5px;
}

table {
  margin: 0 auto;
  table-layout: auto;
  text-align: center;
  padding: 2px;
  border-collapse: separate;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
}

.signup-form,
.login-form {
  width: max-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
}

button,
input {
  font-size: 16px;
  padding: 5px;
}
