{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-form">
            <h1>Search for Companies</h1>
            <form action="{% url 'companies' %}" method='get' value="{{ request.GET.q  }}">
                <p>
                    <label for="id_search">Search:</label>
                    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search companies by name" id="id_search"/>
                </p>
                <button type="submit" name="submit" value="Search">Search</button>
            </form>
            <div class="project-detail">
                {% if submitbutton == 'Search' and request.GET.q != '' %}
                    {% if companies %}
                        <h4>Results for <b>{{ request.GET.q }}</b></h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Number of projects</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in companies %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'company_detail' id=company.id %}">{{ company.name }}</a>
                                            </td>
                                            <td>{{ company.projects.all|length }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    {% else %}
                        <p>No search results for this query</p>
                    {% endif %}
                {% else %}
                    {% if all_companies %}
                        <h2>Company List</b></h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of projects</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for company in all_companies %}
                                    <tr>
                                        <td>{{ company.name }}</td>
                                        <td>{{ company.projects.all|length }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        <table>
                    {% endif %}
                {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </main>
{% endblock content %}
