{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ company.name }}<h1>
            <h2>Projects</h2>
                {% if projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This company has no associated projects</p>
                {% endif %}
        </div>
    </main>
{% endblock content %}
